# Ignore environment folder
eunoia

# Ignore pytest cache
.pytest_cache/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment secret file
.env

# Ignore AWS deployment folder
my_lambda_function